# Ignore all __pycache__ directories
**/__pycache__/

# Build artifacts
tb/sim_build*
tb/test/waves/*

# Temporary files
tb/test/core/fpu/dump.fst*
dump.vcd

# Logs
tb/test/rasteriser/log.txt

# Python virtual environments
.venv/
.aider*
